<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>THE WILDLIFE DESCRIPTION</title>
    </head>
    <link rel="stylesheet" href="ab.css">
    <body>
        <div class="mayur">
        <nav>
            <ul>
                <li class="box" id="item">Home</li>
                <li class="box" id="item">About</li>
                <li class="box" id="item">Contact Us</li>
                <li class="box" id="item">Instagram</li>
            </ul>
        </nav>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores explicabo vero enim tempora recusandae?
                Repellat nihil harum culpa dolore perspiciatis soluta? Ad repellat facere veniam? Sit, veritatis omnis
                nam dolorum suscipit earum beatae non fugit nobis.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores explicabo vero enim tempora recusandae?
                Repellat nihil harum culpa dolore perspiciatis soluta? Ad repellat facere veniam? Sit, veritatis omnis
                nam dolorum suscipit earum beatae non fugit nobis.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores explicabo vero enim tempora recusandae?
                Repellat nihil harum culpa dolore perspiciatis soluta? Ad repellat facere veniam? Sit, veritatis omnis
                nam dolorum suscipit earum beatae non fugit nobis.</p>
        </div>
        </div>
            <!-- <img src="abimage.jpg" alt="404 Not Found"> -->
        
    </body>

</html>